.git
.gitignore
.github
.devcontainer
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/.next
**/dist
**/build
.env
.env.*
!.env.example
*.md
docs
tests
infra
docker-compose.yml
