NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_APP_ENV=local
BACKEND_API_BASE_URL=http://localhost:8000
BACKEND_TOKEN_SIGNING_SECRET=set-locally
DASHBOARD_SESSION_SECRET=set-locally
DASHBOARD_CSRF_TOKEN=set-locally
DASHBOARD_ALLOWED_USERS=yaw
NEXTAUTH_URL=http://localhost:3000
DASHBOARD_TRUSTED_ORIGINS=http://localhost:3000
GITHUB_CLIENT_ID=set-locally
GITHUB_CLIENT_SECRET=
ALLOW_LOCAL_AUTH_BYPASS=true
